{{ header }}

<!-- if main page -->
    <section class="heading heading--main">
        <div class="container">
            <h1>Интернет зоомагазин Bark&Tail</h1>
        </div>      
    </section>

    <!-- if inner pages -->
    <!-- <section class="heading breadcrumbs"></section> -->


    
    <!-- main content -->
    <main class="main index">       

        <section class="big">
            <div class="container">
                <a href="category.html" class="big__wrap">
                    <img src="img/dog.jpg" alt="" class="big__thumb">
                    <span class="big__title">Товары для собак</span>
                </a>
                <a href="category.html" class="big__wrap">
                    <img src="img/cat.jpg" alt="" class="big__thumb">
                    <span class="big__title">Товары для кошек</span>
                </a>
            </div>
        </section>

        <section class="latest">
            <div class="container">
                <div class="title">Новинки</div>
                <div class="products">

                    <div class="preview">
                        <div class="preview__sticker ic_discount">-10%</div>
                        <button class="btn ic_heart preview__wish"></button>
                        <a class="preview__thumb" href="product.html">
                            <img src="img/products/image2.png" alt="">
                        </a>
                        <a href="product.html" class="preview__name">Палочки для зубов с мясом кролика Trixie - Denta Fun Rabbit Chewing Roll</a>
                        <div class="dropdown preview__dropdown">
                            <div class="dropdown__title">Выберите объем: <span class="dropdown__checked">6 шт</span></div>
                            <div class="dropdown__list">
                                <input type="hidden" name="vol" value="6" class="dropdown__value">
                                <div class="dropdown__row">
                                    <input type="radio" name="product_option" id="vol1" value="6">
                                    <label for="vol1">6 шт</label>
                                </div>
                                <div class="dropdown__row">
                                    <input type="radio" name="product_option" id="vol2" value="9">
                                    <label for="vol2">9 шт</label>
                                </div>
                                <div class="dropdown__row">
                                    <input type="radio" name="product_option" id="vol3" value="12">
                                    <label for="vol3">12 шт</label>
                                </div>
                                <div class="dropdown__row">
                                    <input type="radio" name="product_option" id="vol4" value="15">
                                    <label for="vol4">15 шт</label>
                                </div>
                            </div>                      
                        </div>
                        <div class="preview__price">108 грн</div>
                        <button class="btn btn--primary preview__buy">Купить</button>
                    </div>
                    <div class="preview">
                        <div class="preview__sticker ic_discount">-10%</div>
                        <button class="btn ic_heart preview__wish"></button>
                        <a class="preview__thumb" href="product.html">
                            <img src="img/products/image2-2.png" alt="">
                        </a>
                        <a href="product.html" class="preview__name">Сухой корм для собак мини пород с индейкой Grandorf - Adult Mini Breed...</a>
                        <div class="dropdown preview__dropdown">
                            <div class="dropdown__title">Выберите объем: <span class="dropdown__checked">4 кг</span></div>
                            <div class="dropdown__list">
                                <input type="hidden" name="kg" value="4" class="dropdown__value">
                                <div class="dropdown__row">
                                    <input type="radio" name="product_option" id="kg1" value="4">
                                    <label for="kg1">4 кг</label>
                                </div>
                                <div class="dropdown__row">
                                    <input type="radio" name="product_option" id="kg2" value="5">
                                    <label for="kg2">5 кг</label>
                                </div>
                                <div class="dropdown__row">
                                    <input type="radio" name="product_option" id="kg3" value="6">
                                    <label for="kg3">6 кг</label>
                                </div>
                                <div class="dropdown__row">
                                    <input type="radio" name="product_option" id="kg4" value="7">
                                    <label for="kg4">7 кг</label>
                                </div>
                            </div>                      
                        </div>
                        <div class="preview__price preview__price--discount">
                            <div class="preview__discount">478 грн</div>
                            <div class="preview__total">350 грн</div>
                        </div>
                        <button class="btn btn--primary preview__buy">Купить</button>
                    </div>
                    <div class="preview">
                        <div class="preview__sticker ic_discount">-10%</div>
                        <button class="btn ic_heart preview__wish preview__wish--inwish"></button>
                        <a class="preview__thumb" href="product.html">
                            <img src="img/products/image2-1.png" alt="">
                        </a>
                        <a href="product.html" class="preview__name">Консерва для котов с тунцом и креветками LifeCat - Le Ricette</a>
                        <div class="dropdown preview__dropdown">
                            <div class="dropdown__title">Выберите объем: <span class="dropdown__checked">240 гр</span></div>
                            <div class="dropdown__list">
                                <input type="hidden" name="g" value="240" class="dropdown__value">
                                <div class="dropdown__row">
                                    <input type="radio" name="product_option" id="g1" value="240">
                                    <label for="g1">240 гр</label>
                                </div>
                                <div class="dropdown__row">
                                    <input type="radio" name="product_option" id="g2" value="340">
                                    <label for="g2">340 гр</label>
                                </div>
                                <div class="dropdown__row">
                                    <input type="radio" name="product_option" id="g3" value="440">
                                    <label for="g3">440 гр</label>
                                </div>
                                <div class="dropdown__row">
                                    <input type="radio" name="product_option" id="g4" value="540">
                                    <label for="g4">540 гр</label>
                                </div>
                            </div>                      
                        </div>
                        <div class="preview__price">98 грн</div>
                        <button class="btn btn--primary preview__buy">Купить</button>
                    </div>
                    <div class="preview">
                        <div class="preview__sticker ic_discount">-10%</div>
                        <button class="btn ic_heart preview__wish"></button>
                        <a class="preview__thumb" href="product.html">
                            <img src="img/products/image2-3.png" alt="">
                        </a>
                        <a href="product.html" class="preview__name">Сумка-переноска с эко-мехом Gerda</a>
                        <div class="dropdown preview__dropdown">
                            <div class="dropdown__title">Выберите размер: <span class="dropdown__checked">26х48х87 см</span></div>
                            <div class="dropdown__list">
                                <input type="hidden" name="sm" value="26_48_87" class="dropdown__value">
                                <div class="dropdown__row">
                                    <input type="radio" name="product_option" id="sm1" value="26_48_87">
                                    <label for="sm1">26х48х87 см</label>
                                </div>
                                <div class="dropdown__row">
                                    <input type="radio" name="product_option" id="sm2" value="36_48_87">
                                    <label for="sm2">36х48х87 см</label>
                                </div>
                                <div class="dropdown__row">
                                    <input type="radio" name="product_option" id="sm3" value="46_48_87">
                                    <label for="sm3">46х48х87 см</label>
                                </div>
                                <div class="dropdown__row">
                                    <input type="radio" name="product_option" id="sm4" value="56_48_87">
                                    <label for="sm4">56х48х87 см</label>
                                </div>
                            </div>                      
                        </div>
                        <div class="preview__price">98 грн</div>
                        <button class="btn btn--primary preview__buy">Купить</button>
                    </div>

                </div>
            </div>
        </section>

        <section class="brands">
            <div class="container">
                <div class="title">Бренды</div>
                <div class="brands__list">
                    <div>
                        <a href="brands.html" class="brands__item">
                            <img src="img/brands/vets-best-logo.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="brands.html" class="brands__item">
                            <img src="img/brands/acana.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="brands.html" class="brands__item">
                            <img src="img/brands/alcott-logo.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="brands.html" class="brands__item">
                            <img src="img/brands/alpha_spirit_logo.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="brands.html" class="brands__item">
                            <img src="img/brands/Bayer_logo.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="brands.html" class="brands__item">
                            <img src="img/brands/bowl_bone_logo.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="brands.html" class="brands__item">
                            <img src="img/brands/canvit-s-logo.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="brands.html" class="brands__item">
                            <img src="img/brands/carnilove_logo.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="brands.html" class="brands__item">
                            <img src="img/brands/dexas-logo.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="brands.html" class="brands__item">
                            <img src="img/brands/espree-logo.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="brands.html" class="brands__item">
                            <img src="img/brands/ferplast_logo.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="brands.html" class="brands__item">
                            <img src="img/brands/harley_cho_logo.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="seo">
            <div class="container">
                <div class="title">BARK&TAIL – ЗООМАРКЕТ С УНИКАЛЬНОЙ КОНЦЕПЦИЕЙ</div>
                <div class="seo__inner">
                    <p>Bark&Tail - это не просто зоомагазин, это выражение любви к животным, желание сделать их жизнь максимально комфортной.</p>
                    <p>Идейным вдохновителем Bark&Tail стал Джек-рассел Орфей - редкий гурман, избалованный различными зоотоварами. Стоит ли говорить о нашей безграничной любви к Орфею, ведь практически каждый хозяин души не чает в своем питомце. И именно это чувство порождает желание дать своему любимцу самое лучшее, качественное, полезное и даже эксклюзивное. Забота о здоровье, внешнем виде, настроении и долголетии - ежедневная задача каждого хозяина.</p>
                    <p>Bark&Tail создан с целью обеспечить животных всем необходимым, и сделать это грамотно, ответственно и на высоком уровне. Наш ассортимент - это исключительно товары, заслужившие наше доверие, которыми мы уже кормили, лакомили, купали, лечили, профилактировали собственных собак и котов, которых мы безумно любим.</p>
                    <p>Животные достойны и заслуживают самого лучшего - кушать полезное из красивых мисок, отдыхать на королевских лежанках и носить изысканные ошейники.</p>
                </div>
                <button class="btn seo__btn">Читать полностью</button>
            </div>
        </section>

    </main>

{{ footer }}